<!-- Chat Page -->
<div class="container content">
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group grouplist">
		        <li class="list-group-item"><a href="/room?roomid=1">Group1</a></li>
		        <li class="list-group-item"><a href="/room?roomid=2">Group2</a></li>
		        <li class="list-group-item"><a href="/room?roomid=3">Group3</a></li>
		        <li class="list-group-item"><a href="/room?roomid=4">Group4</a></li>
		        <li class="list-group-item"><a href="/room?roomid=5">Group5</a></li>
		        <li class="list-group-item"><a href="/room?roomid=6">Group6</a></li>
		        <li class="list-group-item"><a href="/room?roomid=7">Group7</a></li>
		        <li class="list-group-item"><a href="/room?roomid=8">Group8</a></li>
	      </ul>
		</div>
	</div>
</div>