<!-- Home page -->

<div data-role="page" class="custom" id="group">
  <div data-role="header">
    <div style="padding: 0 20px; float: right">
      <a href="#" data-ajax="false" 
         class="ui-btn ui-icon-plus ui-corner-all ui-btn-icon-notext"></a>
      <a href="/signout" data-ajax="false" 
         class="ui-btn ui-icon-lock ui-corner-all ui-btn-icon-notext"></a>
    </div>
    <div data-role="navbar" style="clear: both;">
      <ul>
        <li><a href="#group" data-transition="slide">Group</a></li>
        <li><a href="#chat" data-transition="slide">Chat</a></li>
        <li><a href="#" data-transition="slide">Profile</a></li>
      </ul>
    </div>
  </div>
  <div data-role="main" class="ui-content" id="group">
      <div class="col-md-10 col-md-offset-1">
        <img class="profile-img" src='/image/accountlogo.png'></img>
        <h3 style="display: inline-block">{{user.username}}</h3>
        <form class="ui-filterable">
          <input id="myFilter" data-type="search">
        </form>
        <ul data-role="listview" data-filter="true" 
            data-input="#myFilter" 
            data-inset="true">
          <li><a href="#">SwimLane</a></li>
          <li><a href="#">มวลมหาประชาชน</a></li>
          <li><a href="#">ภาคคอมคอมเมดี้</a></li>
          <li><a href="#">Billy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Cameron</a></li>
          <li><a href="#">Chloe</a></li>
        </ul>
      </div>
  </div>
</div>

<!-- Chat page -->

<div data-role="page" class="custom" id="chat">
  <div data-role="header">
    <div style="padding: 0 20px; float: right">
      <a href="#" data-ajax="false" 
         class="ui-btn ui-icon-plus ui-corner-all ui-btn-icon-notext"></a>
      <a href="/signout" data-ajax="false" 
         class="ui-btn ui-icon-lock ui-corner-all ui-btn-icon-notext"></a>
    </div>
    <div data-role="navbar" style="clear: both;">
      <ul>
        <li><a href="#group" data-transition="slide">Group</a></li>
        <li><a href="#chat" data-transition="slide">Chat</a></li>
        <li><a href="#" data-transition="slide">Profile</a></li>
      </ul>
    </div>
  </div>
  <div data-role="main" class="ui-content">
      <div class="col-md-10 col-md-offset-1">
      <ul id="messages"></ul>
      <form action="">
        <input id="m" class="form-control"/>
        <a href="" class="ui-btn ui-btn-inline ui-mini" id="send">Send</a>
      </form>
      </div>
  </div>
</div>