<!-- Use RoomCtrl as an angularjs controller -->

<style>
	#msg{
		margin-top: 5px;
		background: #EEEEEE;
		height: 10%;
		padding: 15px;
		padding-left: 0px;
		border-radius: 25px;
		border: 2px solid #AAAAAA;
	}
	#room{
		height: 85%;
		margin-top: 50px;
		border-radius: 25px;
		padding: 30px; 
		min-height: 700px;
		padding-top: 0px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	    border: 2px solid #e5e5e5;
	    background: #2ecc71;
	}
	#chatlog{
		overflow-y: scroll;
		background: #EEEEEE;
		height: 75%;
		padding: 20px;
		border-radius: 25px;
		border: 2px solid #AAAAAA;
	}
	#chatbox{
		border-radius: 25px;
	    background: #C0F0D0;
	    padding: 10px; 
	    margin: 10px;
	    border: 2px;
	    clear: both;
  	}
  	#chatbox2{
  		background: #C9E2FF;
	   	border-radius: 25px;
	    padding: 10px; 
	    margin: 10px;
	    border: 2px;
  	}
  	#pic{
  		float: left;
  		margin-right: 1%;
  	}
</style>

<div class="container" ng-controller="RoomCtrl">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id = "room">
				<!-- Show group id -->
				<div class="page-header">
					<h3>{{name}}</h3>
				</div>
				<div id = "chatlog">
					<!-- Display chat message here -->
					<ul id="messages">
						<div ng-repeat="message in messages" id="chatbox">
							<img class="profile-img" src='/image/accountlogo.png' id="pic"></img>
							<b><span href="" ng-bind="message.user_id.username"></span></b>
							<span href="" ng-bind="convert(message.created_at)"></span>
							
							<li ng-bind="message.content"></li>
						</div>
					</ul>
				</div>
				<!-- Send message form -->
				<form action="" class="form" id= "msg">
					<div class = "col-xs-11">
						<div class="form-group">
							<!-- Typing message field -->
							<input id="m" class="form-control">
						</div>
					</div>
					<!-- Send message button can style it as you like -->
					<!-- Important if send button must contain id="send" -->
					<div class = "col-xs-1">
						<a href="" class="btn btn-primary" id="send">Send</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
