body {
    padding-top: 4%;
    background-color: #e5e5e5;
}
.pointer {
    cursor: pointer;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	padding: 5px 10px; 
}

.logo-img{
    height: auto;
    margin: 0 auto 10px;
    display: inline-block;
}
.profile-img{
    width: 50px;
    height: 50px;
    margin-top: 3%;
    margin: 0 auto 10px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-img2{
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.container-fluid>.navbar-header.logo {
    margin-left: 0.2em;
}

.navbar .navbar-header.logo>.navbar-brand {
    color: white;
    text-transform: uppercase;
}

.navbar .navbar-nav.navbar-right {
    margin-right: 0.2em;
}

.navbar.navbar-default {
    background-color: #2ecc71;
    border-color: #e5e5e5;
}

.navbar-nav.nav>li>a {
    font-size: 1.9rem;
    color: white;
}

.fa.fa-plus {
    width: 13px;
}

.nav-tabs.nav-justified {
  background-color: rgb(90,228,169);
}

.menu .nav-tabs.nav-justified>li>a {
    border-radius: 0px;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
    border-bottom: 0px;
}

.menu .nav-tabs.nav-justified>li>a:hover {
  background-color: #27ae60;
  border-color: transparent;
  color: black;
}

.content {
    margin-top: 140px;
    background-color: white;
    padding: 2em 4em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 64%;
    max-width: 700px;
}

.content .list-group-item:first-child,
.content .list-group-item:last-child {
    border-radius: 0px;
}

.content .list-group-item:hover {
    background-color: rgb(90,228,169);
    color: white;
}

footer {
    background-color: #2ecc71;
    margin-top: 3%;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}