<!-- Account layout -->
<html>
<head>
  <title>Chat Application</title>
  <meta charset="UTF-8">
  <!-- Set viewport important for responsive website -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <!-- Use css stylesheet at account.css -->
  <link rel="stylesheet" href="/css/account.css">
  <!-- Include jquery -->
  <script src="/js/jquery-2.1.1.min.js" ></script>
  <!-- Include angularjs -->
  <script src="/js/angular.min.js"></script>
  <!-- Include angularui-boostrap a plugin for angularjs -->
  <script src="/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <!-- Use angularmodule at controller.js -->
  <script src="/js/controller.js"></script>
</head>
<body data-id="{{user._id}}" 
      data-username="{{user.username}}"
      ng-app="account">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class = "row">
        <div class = "row-same-height">
          <div class = "col-lg-3 col-xs-height col-middle " style = "background: #2ecc71; width: 362px;">
            <img class="logo-img" src='/image/untitled-3.png'></img>
          </div>
          <div class = "col-md-12">
            <div class = "row"  style = "background: #2ecc71; height: 124px">
              <div class = "row-same-height">
                <div class="col-md-7 col-xs-height col-bottom"><div class="description" >
                  <img class="profile-img" src='/image/accountlogo.png' style="margin-right: 1%;"></img>
                  <h3 style="display: inline-block; color: white;">{{user.username}}</h3>
                </div></div>
                <div class = "col-md-3 col-xs-height col-full-height col.min"> <div class="description" >
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/add" data-toggle="tooltip" 
                      data-placement="bottom" title="add group">
                      <i class="fa fa-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a href="/signout" data-toggle="tooltip" 
                      data-placement="bottom" title="log out">
                      <i class="fa fa-sign-out"></i>
                      </a>
                    </li>
                  </ul>
                </div></div>
              </div>
            </div></div>
            <div class = "row">
              <div class = "row-same-height">
                <div class= "col-md-12 col-bottom">
                  <div class="menu">
                    <ul class="nav nav-tabs nav-justified">
                      <li role="presentation">
                        <a href="/home" data-toggle="tootip"
                           data-placement="bottom" title="group"><i class="fa fa-users"></i></a>
                      </li>
                      <li role="presentation">
                        <a href="/chat" data-toggle="tooltip"
                           data-placement="bottom" title="chat"><i class="fa fa-comment"></i></a>
                      </li>
                      <li role="presentation">
                        <a href="/profile" data-toggle="tooltip"
                           data-placement="bottom" title="profile"><i class="fa fa-list"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
        
      
    </div>
    

  </nav>
  {{{body}}}
  <footer>
    <div class="container-fluid">
      <p style = "float:right; vetical-align: middle; color: #FFFFFF">for distributed System Essential</p>
      <br>
      <br>
      <p style = "font-size: 20px; float:right; vetical-align: middle; color: #FFFFFF">ChatApp</p>
    </div>
  </footer>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>