<html>
<head>
  <title>Chat Application</title>
  <meta charset="UTF-8">
  <!-- Set viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include bootstrap -->
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <!-- Use css stylesheet at account.css -->
  <link rel="stylesheet" href="/css/account.css">
  <!-- Include jquery -->
  <script src="/js/jquery-2.1.1.min.js" ></script>
  <!-- Include angularjs -->
  <script src="/js/angular.min.js"></script>
  <!-- Use angularjs module at chat_manager.js -->
  <script src="/js/chat_manager.js"></script>
  <!-- Include socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Include client.js to manage chat message -->
  <script src="/js/client.js"></script>
</head>
<body data-id="{{user._id}}" 
      data-username="{{user.username}}"
      ng-app="chat">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">ChatApp</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><i class="fa fa-plus"></i></a></li>
        <li><a href="/signout"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </nav>
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/chat">Back</a></li>
  </ul>
  {{{body}}}
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>