<html>
<head>
  <title>Chat Application</title>
  <meta charset="UTF-8">
  <!-- Set viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include bootstrap -->
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <!-- Use css stylesheet at account.css -->
  <link rel="stylesheet" href="/css/account.css">
  <!-- Include jquery -->
  <script src="/js/jquery-2.1.1.min.js" ></script>
  <!-- Include angularjs -->
  <script src="/js/angular.min.js"></script>
  <!-- Use angularjs module at chat_manager.js -->
  <script src="/js/chat_manager.js"></script>
  <!-- Include socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Include client.js to manage chat message -->
  <script src="/js/client.js"></script>
  <script language="JavaScript"><!--
        function myHeight() {
            if (document.layers)
                return document.body.document.height - window.innerHeight;
            else if (document.all)
                return 0; // cannot get current window size
            else
                return 200; // approx height (adjust as necessary)
        }

        function myScroll() {
            documentYposition += scrollAmount;
            window.scroll(0,documentYposition);
            if (document.layers) {
                if (documentYposition > documentLength || documentYposition == 0)
                    scrollAmount *= -1;
            }
            else if (document.all) {
                if (document.body.scrollTop == lastScrollTop || document.body.scrollTop == 0)
                    scrollAmount *= -1;
            }
            setTimeout('myScroll()',scrollInterval);
        }

        function start() {
            documentLength = myHeight();
            myScroll();
        }

        var documentLength;
        var scrollAmount = 15;          // scroll by 100 pixels each time
        var scrollInterval = 100;       // number of milliseconds between scrolls
        var documentYposition = 0;
        var lastScrollTop = 0;         // workaround for Internet Explorer
//--></script>
</head>
<body data-id="{{user._id}}"
      data-username="{{user.username}}"
      ng-app="chat">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">ChatApp</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/chat"><i class="fa fa-arrow-left"></i></a></li>
        <li><a href=""><i class="fa fa-plus"></i></a></li>
        <li><a href="/signout"><i class="fa fa-sign-out"></i></a></li>
        
      </ul>
    </div>
  </nav>
  {{{body}}}
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>